<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/comment.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body>
    <div id="allpage">
      <h2 style="margin-bottom: 35px;"><%= email %></h2>
      <table
        style="width: 90%; margin: auto;"
        class="table table-striped table-bordered table-sm table-light"
      >
        <tr>
          <th class="text-left">pulseRate</th>
          <th class="text-left">BloodPressure</th>
          <th class="text-left">Weight</th>
          <th class="text-left">Temperature</th>
          <th class="text-left">Respiratoryt</th>
        </tr>
        <% signs.forEach(function(sign){ %>
        <tr id="tbrow">
          <td class="text-left"><%= sign.pulseRate %></td>
          <td class="text-left"><%= sign.bloodPressure %></td>
          <td class="text-left"><%= sign.weight %></td>
          <td class="text-left"><%= sign.temperature %></td>
          <td class="text-left"><%= sign.respiratory %></td>

          <% })%>
        </tr>
      </table>

      <a href="/">Home Page</a>
    </div>
  </body>
</html>
